
@{
    ViewBag.Title = "IndexE";
    Layout = "~/Views/Shared/Layout3.cshtml";
}

<div class="panel-info widget-shadow">
    <h2>Panel de Productos</h2>
    <br />

    @Html.ActionLink("Listado", "ListadoE", "Producto")
</div>


