
@{
    ViewBag.Title = "IndexE";
    Layout = "~/Views/Shared/Layout3.cshtml";
}

<div class="panel-info widget-shadow">
    <h2>Bienvenido</h2>
    <br/>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Autentificado correctamente</h3>
        </div>
        <div class="panel-body">
            Bienvenido al sistema de facturacion, usted se encuentra en el modulo de EMPLEADO
        </div>
    </div>

</div>

