
@{
    ViewBag.Title = "ErrorPerm";
}
<div class="panel-info widget-shadow">
    
    
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Error de permisos</h3>
            </div>
            <div class="panel-body">
                Informacion restringida, su cuenta de usuario no tiene permisos para acceder a este modulo
            </div>
        </div>
   
</div>

