
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Estilos.cshtml";
}

<div class="main-content">



    <div class="main-page">

        <div class="error-page">
            <div class="">
                <h2>ERROR</h2>
            </div>
            <div class="">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Estamos teniendo problemas.</h3>

            </div>
            <p>Por favor solicite otra direccion.</p>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <p>&copy; 2018 Sistema de Facturacion</p>
</div>

