
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/Estilos.cshtml";
}

<div class="main-content">



    <div class="main-page">

        <div class="error-page">
            <div class="">
                <h2>404</h2>
            </div>
            <div class="">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>

            </div>
            <p>El servidor no encontro la direccion solicitada.</p>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <p>&copy; 2018 Sistema de Facturacion</p>
</div>
