@model List<Entities.CUsuario>
@{
    ViewBag.Title = "Listado";
    var grid = new WebGrid(source: Model);
}
<div class="panel-info widget-shadow">
    <h2>Listado de Usuarios</h2>
    <br />

    <h2>@Html.ActionLink("Crear", "Formulario", "Usuario", new { codigo = 0 }, null)</h2>
    <br />

    @grid.GetHtml(tableStyle: "table table-striped",
        columns: grid.Columns(
              grid.Column(columnName: "codigo", header: "Código"),
              grid.Column(columnName: "dni", header: "DNI"),
              grid.Column(columnName: "nom_ape", header: "Nombres y Apellidos"),
              grid.Column(columnName: "tipo", header: "Tipo"),
              grid.Column(columnName: "nickname", header: "Nickname"),
              grid.Column(columnName: "password", header: "Password"),

              grid.Column(
                  header: "Acciones",
                  format: (item) => Html.ActionLink("Editar", "Formulario", "Usuario", new { codigo = item.codigo }, null)
              ),
              grid.Column(
                  header: "",
                  format: (item) => Html.ActionLink("Eliminar", "Eliminar", "Usuario", new { codigo = item.codigo }, null)
              )
            )
        )
</div>