@model Entities.CUsuario

@{
    ViewBag.Title = "LogInForm";
    Layout = "~/Views/Shared/Estilos.cshtml";
   
    





}



@using (Html.BeginForm("LogIn", "Usuario", FormMethod.Post))
{

    <div id="page-wrapper">
        <div class="main-page login-page ">
            <h2 class="title1">Login</h2>
            <div class="widget-shadow">
                <div class="login-body">

                    @if (@ViewBag.error != null)
                    {

                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Error</h3>
                            </div>
                            <div class="panel-body">
                                @ViewBag.error
                            </div>
                        </div>
                    }



                    @Html.TextBoxFor(model => model.nickname, new { @placeholder = "Ingrese su Username", Type = "text" })


                    @Html.TextBoxFor(model => model.password, new { @placeholder = "Ingrese su contraseña", Type = "password" })




                    <input type="submit" value="Sign In">



                </div>
            </div>

        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <p>&copy; 2018 - Sistema de Facturacion</p>
    </div>
    <!--//footer-->

}